<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />

	<link href="/assets/css/prism.css" rel="stylesheet"></link>
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    {{#post}}
    <!-- Google Authorship and Publisher Markup -->
        <meta name="description" content="{{@blog.title}} - {{title}}" />

        {{#if author.googlePlus}}
        <!-- Schema.org markup for Google+ -->
        <link rel="publisher" href="https://plus.google.com/101758255142291588121/posts"
        <meta itemprop="name" content="{{@blog.title}} - {{title}}">
        <meta itemprop="description" content="{{@blog.description}}">
        <meta itemprop="image" content="{{author.image}}">
        {{/if}}
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="{{author.image}}">
        <meta name="twitter:site" content="@novanetas"> 
        <meta name="twitter:title" content="{{@blog.title}} - {{title}}">
        <meta name="twitter:creator" content="{{author.name}}">

        <!-- Twitter summary card with large image must be at least 280x150px -->

        <!-- Open Graph data -->
        <meta property="og:title" content="{{title}}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{@blog.url}}/{{slug}}" />
        <meta property="og:image" content="{{author.image}}" />
        <meta property="og:description" content="{{@blog.description}}" />
        <meta property="og:site_name" content="{{@blog.title}}" />
    {{/post}}
    {{!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.min.js"></script>
    <script type="text/javascript" src="/app/ghost.js"></script>
    <script type="text/javascript" src="/app/directives/relatedPostsDirective.js"></script>
    <script type="text/javascript" src="/app/directives/postsByUserDirective.js"></script>--}}
</head>
<body ng-app="ghost" class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer">
        <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
        <div class="inner">
             <section class="copyright">All content copyright <a href="http://www.novanet.no">Novanet AS</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
        </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
	<script src="/assets/js/prism.js"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];

        _gaq.push(['_setAccount', 'UA-20608213-1']);
        _gaq.push(['_setDomainName', 'blog.novanet.no' ]);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>