{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}


<header class="main">
    <div id="printLogo">
    </div>
     <div class="logo">
            <a id="blog-logo" href="{{@blog.url}}">
                {{#if @blog.logo}}
                    <img src="{{@blog.logo}}" alt="Blog Logo" />
                {{else}}
                    <span class="blog-title">{{@blog.title}}</span>
                {{/if}}
            </a>
        </div>
        <div style="clear:both"></div>

</header>
    {{! The main content area on the homepage }}
<main class="content blog-list" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}
    <article class="{{post_class}}">
        <header class="post-header">
            {{#if author.profile_image}}
            <div class="avatar"><img src="{{author.profile_image}}" /></div>
            {{/if}}
            <h2 class="post-title">
                <a href="{{url}}">{{{title}}}</a>
            </h2>
            
            <div class="author">
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> by 
                <a href="/author/{{author.slug}}"><span class="name">{{author.name}}</span></a>
            </div>
            <div class="post-meta">
                <div class="tags">
                    {{#each tags}}
                    <a href="/tag/{{name}}"><span class="tag">{{name}}</span></a>
                    {{/each}}
                </div>
            </div>
        <div style="clear:both;"></div>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>
    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>